@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@300&display=swap');

*{
  font-family: 'Kaushan Script', cursive;
}

.icon{
  color: green;
  font-size: 3rem;
  border: 1px solid black;
}